<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="v.css">
</head>
<body>
    <div class="eligibility-form">
        <div class="section">
          <h3>Update Eligibility</h3>
          <div class="options">
            <div class="group">
              <h4>Eligible</h4>
              <label><input type="radio" name="eligibility" /> RPM</label>
              <label><input type="radio" name="eligibility" /> CCM</label>
              <label><input type="radio" name="eligibility" /> RTM</label>
            </div>
            <div class="group">
              <h4>Practice Follow Up</h4>
              <label><input type="radio" name="follow-up" /> Missing Demographic Info</label>
              <label><input type="radio" name="follow-up" /> Missing Dx Codes</label>
              <label><input type="radio" name="follow-up" /> Missing Insurance</label>
              <label><input type="radio" name="follow-up" /> Not High Risk</label>
              <label><input type="radio" name="follow-up" /> Insurance Does Not Cover Services</label>
              <label><input type="radio" name="follow-up" /> Insurance Does Not Qualify</label>
              <label><input type="radio" name="follow-up" /> Too High Deductible/Not Met</label>
              <label><input type="radio" name="follow-up" /> Wants To Speak With Dr</label>
              <label><input type="radio" name="follow-up" /> Does Not Want Service</label>
              <label><input type="radio" name="follow-up" /> Unable to Contact</label>
              <label><input type="radio" name="follow-up" /> Previously Registered Then Discontinued Services</label>
              <label><input type="radio" name="follow-up" /> Non Compliant</label>
              <label><input type="radio" name="follow-up" /> Other</label>
            </div>
            <div class="group">
              <h4>PGx Eligible</h4>
              <label><input type="radio" name="pgx" /> Approved</label>
              <label><input type="radio" name="pgx" /> Hold - Auth Required</label>
              <label><input type="radio" name="pgx" /> Hold - Medical Necessity Failed</label>
              <label><input type="radio" name="pgx" /> Hold - PCP Referral Required</label>
            </div>
          </div>
          <div class="review">
            <label><input type="checkbox" /> Review Done</label>
          </div>
        </div>
      </div>
       
</body>
</html>